<!DOCTYPE html>
<html>
    <head>
        <title>Add Employee</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    </head>
<body>
    <div class = "jumbotron container">
        <h1>Add Employee</h1>
        <form method = 'POST'>
            {% csrf_token %}
            Enter Name:<input type = "text" name = "nm" class = "form-control"><br>
            Enter Age:<input type = "number" name = "age" class = "form-control"><br>
            Enter Salary <input type = "number" name = "salary" class = "form-control"><br>

            Submit: <input type = "submit" value = "Add" class = "btn btn-primary"><br>
        </form>
    </div>
    
</body>
</html>
