<!DOCTYPE html>
<html>
    <head>
        <title>ALL EMployees</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    </head>
<body>
    <h1>Employee REcords</h1>
    <h1>{{data}}</h1>

    <table class = "table table-hover">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.salary}}</td>
            <td><a href ="{% url 'app1:delemp' id=i.id %}">Delete</a></td>
            <td><a href ="{% url 'app1:updateemp' id=i.id %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>